@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,900,900i&display=swap');

body {
  background-color: #fff;
  color: #222;
  font: 400 normal 1rem/1.5 'Roboto', helvetica, arial, sans-serif;
}

.menubar {
  background-color: #333;
  color: #fff;
}



.product {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.dark {
  background-color: #000;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #000;
}

.iphone-11-pro {
  background-image: url('/img/iphone11pro.jpg');
}
.iphone-11 {
  background-image: url('/img/iphone11.jpg');
}
.apple-watch {
  background-image: url('/img/applewatch.jpg');
}